@model IEnumerable<Sozial.Models.PostModel>

@{
    ViewBag.Title = "Post";
}

<div class="container">
    <div class="row">
        <div class="well col-md-8">
            <h2 class="title-adjustments">Posts</h2>
            <hr />
            <p>
                @Html.ActionLink("Create New Post", "Create", null, new { @class = "btn btn-success" })
            </p>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a class="list-group-item active container">
                        <div class="col-md-3">
                            <figure class="pull-left img_resizer">
                                @if (String.IsNullOrEmpty(item.imageUrl))
                                {
                                    <span class="cursor_change" onclick="location.href='@Url.Action("Details", "Post", new { id = item.postID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                    </span>
                                }
                                else
                                {
                                    <span class="cursor_change" onclick="location.href='@Url.Action("Details", "Post", new { id = item.postID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.userID)" />
                                    </span>
                                }


                            </figure>


                            <!--

                        REPLY BUTTON IS NEEDED


                        And an if statement if the text is an url for a picture


                        -->
                        </div>
                        <div class="col-md-7">
                            <h4>@Html.DisplayFor(modelItem => item.userID)</h4>
                            <p>@Html.DisplayFor(modelItem => item.createdDate)</p>
                            <p class="list-group-item-text text_limit">
                                @Html.DisplayFor(modelItem => item.text)
                            </p>
                            <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="...Read more" onclick="location.href='@Url.Action("Details", "Post", new { id = item.postID })'" /></div>
                        </div>

                        <div class="col-md-2 text-center">
                            <span class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Edit", "Post", new { id = item.postID })'"><i class="glyphicon glyphicon-pencil"></i> Edit</span>
                            <span class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Post", new { id = item.postID })'"><i class="glyphicon glyphicon-remove"></i> Delete</span>
                        </div>
                    </a>
                    <div class="list-group well container">
                        @foreach (var comm in item.comments)
                        {

                            
                            
                            <!--This below should be here but its not working-->
                            
                            <!--
                            <div class="widget-area pull-left">
                                <form>
                                    <div>
                                        @Html.EditorFor(model => comm.commentText, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => comm.commentText, "", new { @class = "text-danger" })
                                    </div>
                                    <input type="submit" value="Reply to post" class="btn btn-success pull-right" />
                                </form>
                            </div>

                            -->
                            <div class="well">
                                <a class="list-post-item active container">
                                    <div class="col-md-3">
                                        <h4>@Html.DisplayFor(modelItem => comm.authorID)</h4>
                                        <p>@Html.DisplayFor(modelItem => comm.createdDate)</p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="text_limit">
                                            @Html.DisplayFor(modelItem => comm.commentText)
                                        </p>
                                        <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="...Read more" onclick="location.href='@Url.Action("Details", "Post", new { id = item.postID })'" /></div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <span class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Edit", "Comment", new { id = item.postID })'"><i class="glyphicon glyphicon-pencil"></i> Edit</span>
                                        <span class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Comment", new { id = item.postID })'"><i class="glyphicon glyphicon-remove"></i> Delete</span>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/text_delimitator.js"></script>
<script src="~/Scripts/gameList.js"></script>
