@model IEnumerable<Sozial.Models.PostModel>

@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New Post", "Create")
</p>

@foreach (var item in Model)
{
    <ul>
        <li>
            User: &nbsp
            @Html.DisplayFor(modelItem => item.userID)
        </li>
        <li>
            Post: &nbsp
            @Html.DisplayFor(modelItem => item.text)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.imageUrl)
        </li>
        <li>
            <br>
            @Html.ActionLink("Reply", "../Comment/Create", new { id = item.postID })
        </li>
        <ul>
            @foreach (var comm in item.comments)
            {
                <li>
                    User: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    @Html.DisplayFor(modelItem => comm.authorID)
                </li>
                <li>
                    Comment: &nbsp
                    @Html.DisplayFor(modelItem => comm.commentText)
                </li>
            }
        </ul>
    </ul>
}
