@model SozialProject.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.steamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.steamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userProfilePic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userProfilePic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userBannerPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userBannerPic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
