@model Sozial.Models.PostModel

@{
    var counter = 0;
    foreach (Sozial.Models.CommentModel comm in Model.comments)
    {
        counter++;
    }     
} 
<div class="posts">
    <div class="widget-area">
        <div class="comment-section">
            <div class="col-md-2  img_resizer no-margin">
                @if (String.IsNullOrEmpty(Model.userPicture))
                {
                    <img class="img-rounded thumbnail" src="http://avatarbox.net/avatars/img7/blue_invader_avatar_picture_70258.jpg" alt="No profile picture" />
                }
                else
                {
                    <img src="@Url.Content(Model.userPicture)" class="thumbnail" alt="@Model.userID picture" />
                }
            </div>
            <a href="@Url.Action("Profile", "Home", new { username = Model.userID })" title="Username">@Model.userID</a>
            <div class="pull-right">
                <a href="@Url.Action("Delete", "Post", new { id = Model.postID })" class="btn btn-default btn-xs change-post"><span class="glyphicon glyphicon-remove delete"></span></a>
                <a href="@Url.Action("Edit", "Post", new { id = Model.postID })" class="btn btn-default btn-xs change-post"><span class="glyphicon glyphicon-pencil edit"></span></a>
            </div>
            <p>
                @Html.DisplayFor(modelItem => Model.text)
            </p>
            <em>
                <small>
                    created on @Model.createdDate.Day/@Model.createdDate.Month/@Model.createdDate.Year
                </small>
            </em>
            @if (!String.IsNullOrEmpty(Model.imageUrl))
            {
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <img src="@Url.Content(Model.imageUrl)" class="img-responsive" alt="@Model.userID picture" />
                    </div>
                </div>
            }
            else
            {
                <div></div>
            }
        </div>
        <hr />
        <!-- REPLY HERE -->
        <div class="col-md-12">
            @Html.Partial("../Shared/_replyToPostPartial", new Sozial.Models.CommentModel(@Model.postID))
        </div>
        <!-- REPLY HERE -->
    </div>
</div>
@if (Model.comments != null)
{
    <a id="toggleMeComments" class="btn btn-success btn-sm toggleMeComments pull-right">See All @counter Comments</a>
    <div class="title-adjustments"></div>
    <div class="comments toToggleComments">
        <div class="widget-area comment-section">
            @foreach (Sozial.Models.CommentModel comm in Model.comments)
            {                
                <div class="row">
                    <div class="col-md-1">                       
                        @if (comm.authorID == Model.userID)
                        {
                            <div class="img_resizer class=" col-md-1"">
                                @if (Model.userPicture != null) { 
                                    <img class="thumbnail" src="@Url.Content(Model.userPicture)" />
                                }
                                else
                                {
                                    <img class="thumbnail" src="http://avatarbox.net/avatars/img7/blue_invader_avatar_picture_70258.jpg" />
                                }
                                
                            </div>
                        }
                        else
                        {
                            <div class="img_resizer class=" col-md-1"">
                                <img class="thumbnail" src="http://avatarbox.net/avatars/img7/blue_invader_avatar_picture_70258.jpg" />
                            </div>
                        }
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Profile", "Home", new { username = comm.authorID })" title="Username">@comm.authorID</a>
                    </div>
                    <div class="col-md-10">
                        <p>
                            @Html.DisplayFor(modelItiem => comm.commentText)
                        </p>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/toggleComments.js"></script>
<script src="~/Scripts/toggle.js"></script>


