@model IEnumerable<Sozial.Models.NewsModel>

@{
    ViewBag.Title = "News";
}
<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="title-adjustments">News</h2>
            <hr />
            <p>
                @Html.ActionLink("Add News", "Create", null, new { @class = "btn btn-success" })
            </p>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a class="list-group-item active container">
                        @if (!String.IsNullOrEmpty(item.imageUrl))
                        {
                            <div class="media col-md-3">
                                <figure class="pull-left img_resizer">
                                    <img class="media-object img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.title)" />
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <h3 class="list-group-item-heading title-adjustments">@Html.DisplayFor(modelItem => item.title)</h3>
                                <p class="title-adjustments">
                                    @Html.DisplayFor(modelItem => item.text)
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-9">
                                <h3 class="list-group-item-heading title-adjustments">@Html.DisplayFor(modelItem => item.title)</h3>
                                <p class="title-adjustments">
                                    @Html.DisplayFor(modelItem => item.text)
                                </p>
                            </div>
                        }
                        <small class="pull-right title-adjustments">@Html.DisplayFor(modelItem => item.createdDate.Day)/@Html.DisplayFor(modelItem => item.createdDate.Month)/@Html.DisplayFor(modelItem => item.createdDate.Year)</small>
                        <div class="col-md-3">
                            <span class="btn btn-danger btn-sm pull-right" onclick="location.href='@Url.Action("Delete", "News", new { id = item.newsID })'"><i class="glyphicon glyphicon-remove"></i> Delete</span>
                            <span class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("Edit", "News", new { id = item.newsID })'"><i class="glyphicon glyphicon-pencil"></i> Edit</span>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>