@model Sozial.Models.PostToProfileViewModel

@using (Html.BeginForm("postToProfile","Home")) 
{
    @Html.AntiForgeryToken()

    <form>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.HiddenFor(model => model.profileOwner, htmlAttributes: new { @class = "control-label col-xs-2" })
            @Html.EditorFor(model => model.newPost.text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.newPost.text, "", new { @class = "text-danger" })
        </div>
        <div class="no-margin col-xs-12">
            @Html.HiddenFor(model => model.profileOwner, new { htmlAttributes = new { @class = "form-control input-sm" } })
            <a id="toggleMe" class="btn btn-success btn-sm cursor_change"><span class="glyphicon glyphicon-picture"></span></a>
            @Html.EditorFor(model => model.newPost.imageUrl, new { htmlAttributes = new { @class = "input-sm", placeholder = "Image URL (optional)", @id = "toToggle" } })
            @Html.ValidationMessageFor(model => model.newPost.imageUrl, "", new { @class = "text-danger" })
            <input type="submit" value="Post" class="btn btn-success pull-right" />
        </div>
    </form>
}