@model Sozial.Models.FrontPageViewModel


@{
    ViewBag.Title = "Home Page";
}


<div class="custom-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/Images/halfPageBanner1.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner2.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner3.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner4.png")" />
            </div>
        </div>
        <div class="logo_motto_frontpage img-responsive">
            <img src="@Url.Content("~/Content/Images/logo_motto.png")" />
        </div>
    </div> <!-- Carousel -->
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="top-menu">
                <div class="top-menu-button">
                    @Html.ActionLink("Myfriends", "../Home/myFriends")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("My groups", "../Home/myGroups")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("Games", "../Home/myGames")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("Post", "../Post")
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="well">
                            <div class="list-group">
                                <h2 class="title-adjustments">Latest News</h2>
                                <div>
                                    @foreach (Sozial.Models.NewsModel item in Model.newestNews)
                                    {
                                        <div class="well">
                                            <div class="media col-md-3">
                                                <figure class="pull-left img_resizer">
                                                    @if (String.IsNullOrEmpty(item.imageUrl))
                                                    {
                                                        <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                                    }
                                                    else
                                                    {
                                                        <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.newsID)" />
                                                    }
                                                </figure>
                                            </div>
                                            <div class="homepage-news-title">
                                                <h4>
                                                    @item.title
                                                </h4>
                                            </div>
                                            <div>
                                                <p>
                                                    @item.text
                                                </p>
                                            </div>
                                            <div class="homepage-news-name">
                                                <p>
                                                    - @item.userID
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="well">
                            <div class="list-group">
                                <h2 class="title-adjustments">Recent Posts</h2>
                                <div>
                                    @foreach (Sozial.Models.PostModel item in Model.newestPosts)
                                    {
                                        <div class="well">
                                            <div class="col-md-12">
                                                <div class="media col-md-3">
                                                    <figure class="pull-left img_resizer">
                                                        @if (String.IsNullOrEmpty(item.imageUrl))
                                                        {
                                                            <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                                        }
                                                        else
                                                        {
                                                            <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.postID)" />
                                                        }
                                                    </figure>
                                                </div>
                                                <div class="homepage-posts-user">
                                                    <h4>
                                                        @item.userID
                                                    </h4>
                                                </div>
                                                <div>
                                                    <p>
                                                        @item.text
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-12">
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="well">
                            <div class="list-group">
                                <h2 class="title-adjustments">Trending Games</h2>
                                <div>
                                    <p>
                                        Lorem ipsum
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="well">
                            <div class="list-group">
                                <h2 class="title-adjustments">Recruitment Bulletin</h2>
                                <div>
                                    @foreach (Sozial.Models.GroupModel item in Model.newestGroups)
                                    {
                                        <div class="well">
                                            <div class="media col-md-3">
                                                <figure class="pull-left img_resizer">
                                                    @if (String.IsNullOrEmpty(item.groupPicture))
                                                    {
                                                        <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                                    }
                                                    else
                                                    {
                                                        <a href="../Group/Details/@item.groupID"><img class="media-object img-rounded img-responsive thumbnails" src="@item.groupPicture" alt="@Html.DisplayFor(modelItem => item.groupID)" /></a>
                                                    }
                                                </figure>
                                            </div>
                                            <div class="homepage-group-name">
                                                <h4>
                                                    @item.groupName
                                                </h4>
                                            </div>
                                            <div>
                                                <p>
                                                    @item.groupDescription
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <hr />
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/playerSumm.js"></script>
<button onclick="experiment()"></button>
<div id="experiment">WHOT</div>
