@model Sozial.Models.FrontPageViewModel


@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel -->
<div class="carousel-custom-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/Images/halfPageBanner1.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner2.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner3.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner4.png")" />
            </div>
        </div>
        <div class="logo_motto_frontpage img-responsive">
            <img src="@Url.Content("~/Content/Images/logo_motto.png")" />
        </div>
    </div>
</div>
<!-- Carousel -->
<div class="container front-page-item">
    <div class="well">
        <div class="navbar text-center">
            <ul class="list-inline list-unstyled">
                <li style="color: red; font-weight: bold;">TO BE REMOVED</li>
                <li class="top-menu-button">
                    @Html.ActionLink("Friends", "myFriends", "Home")
                </li>
                <li class="top-menu-button">
                    @Html.ActionLink("Groups", "Index", "Group")
                </li>
                <li class="top-menu-button">
                    @Html.ActionLink("Games", "Index", "Game")
                </li>
                <li class="top-menu-button">
                    @Html.ActionLink("Post", "../Post")
                </li>
                <li class="top-menu-button">
                    @Html.ActionLink("All Users", "Userlist", "Home")
                </li>
                <li class="top-menu-button">
                    @Html.ActionLink("Profile", "Profile", "Home")
                </li>
                <li style="color: red; font-weight: bold;">TO BE REMOVED</li>
            </ul>
        </div>
        <!--TITLES-->
        <div class="row">
            <div class="col-md-6">
                <h3>Latest News</h3>
            </div>
            <div class="col-md-6">
                <h3>Newest Posts</h3>
            </div>
        </div>
        <!--NEWS-->
        <div class="row front-page-item">
            <div class="col-md-6 list-group">
                
                @foreach (Sozial.Models.NewsModel item in Model.newestNews)
                {
                    <a class="list-group-item active container">
                        <em><small class="pull-right">@Html.DisplayFor(modelItem => item.createdDate.Day)/@Html.DisplayFor(modelItem => item.createdDate.Month)/@Html.DisplayFor(modelItem => item.createdDate.Year)</small></em>
                        <h4><span class="cursor_change" onclick="location.href='@Url.Action("Index", "News")'">@Html.DisplayFor(modelItem => item.title)</span></h4>
                        <hr class="no-margin" />
                        @if (String.IsNullOrEmpty(item.imageUrl))
                        {
                            <div>
                                <p class="title-adjustments text_limit">
                                    @Html.DisplayFor(modelItem => item.text)
                                </p>
                                <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="...Read more" onclick="location.href='@Url.Action("Index", "News")'" /></div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <figure class="cursor_change img_resizer title-adjustments" onclick="location.href='@Url.Action("Index", "News")'">
                                    <img class="media-object img-responsive pull-left" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.title)" />
                                </figure>
                            </div>
                            <div class="col-md-9">
                                <p class="text_limit">
                                    @Html.DisplayFor(modelItem => item.text)
                                </p>
                                <div class="title-adjustments"><input id="readMore" type="button" title="See full article" value="...Read more" onclick="location.href='@Url.Action("Index", "News")'" /></div>
                            </div>
                        }
                    </a>
                }
            </div>
            <!--NEWEST POSTS-->
            <div class="col-md-6 list-group">
                @foreach (Sozial.Models.PostModel item in Model.newestPosts)
                {
                    <div class="widget-area comment-section container">
                        <div class="col-sm-1 thumbnail">
                            @if (String.IsNullOrEmpty(item.imageUrl))
                            {
                                <img class="img-responsive img-rounded" src="http://avatarbox.net/avatars/img7/blue_invader_avatar_picture_70258.jpg" alt="No profile picture" />
                            }
                            else
                            {
                                <img class="img-responsive img-rounded" src="@Url.Content(item.imageUrl)" alt="@Html.DisplayFor(modelItem => item.postID)" />
                            }

                        </div>
                        <a href="@Url.Action("Profile", "Home", new { @item.userID })" title="Username">@item.userID</a>
                        <em><small class="pull-right">@item.createdDate.Day/@item.createdDate.Month/@item.createdDate.Year</small></em>
                        <p class="text_limit">@item.text</p>
                        <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="see full post" onclick="location.href='@Url.Action("Profile", "Home", new { id = item.userID })'" /></div>
                    </div>
                }
            </div>
        </div>
        <!--TITLES-->
        <div class="row">
            <div class="col-md-6">
                <h3>Recruitment Bullentin</h3>
            </div>
            <div class="col-md-6">
                <h3>Trending Games</h3>
            </div>
        </div>
        <!--BULLETIN-->
        <div class="row front-page-item">
            <div class="col-md-6 list-group">
                @foreach (Sozial.Models.GroupModel item in Model.newestGroups)
                {
                    <div class="group_item">
                        <div class="widget-area comment-section container">
                            <div class="col-sm-1 thumbnail">
                                @if (String.IsNullOrEmpty(item.groupPicture))
                                {
                                    <img class="img-responsive img-rounded" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "Group", new { id = item.groupID })"><img class="media-object img-rounded img-responsive thumbnails" src="@item.groupPicture" alt="@Html.DisplayFor(modelItem => item.groupID)" /></a>
                                }
                            </div>
                            <h4>
                                <a href="@Url.Action("Details", "Group", new { id = item.groupID })">@item.groupName</a>
                            </h4>
                            <div>
                                <p class="text_limit">
                                    @item.groupDescription
                                </p>
                                <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="see full post" onclick="location.href='@Url.Action("Details", "Group", new { id = item.groupID })'" /></div>
                            </div>
                        </div>
                        <div class="group_cover"></div>
                    </div>
                }
            </div>
        </div>
        <!--GAMES-->
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!--<script src="~/Scripts/playerSumm.js"></script>-->
<script src="~/Scripts/text_delimitator.js"></script>
<!--<button onclick="experiment()"></button>
<div id="experiment">WHOT</div>-->
