@model Sozial.Models.FrontPageViewModel


@{
    ViewBag.Title = "Home Page";
}


<div class="custom-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/Images/halfPageBanner1.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner2.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner3.png")" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/halfPageBanner4.png")" />
            </div>
        </div>
        <div class="logo_motto_frontpage img-responsive">
            <img src="@Url.Content("~/Content/Images/logo_motto.png")" />
        </div>
    </div> <!-- Carousel -->
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="top-menu">
                <div class="top-menu-button">
                    @Html.ActionLink("Myfriends", "../Home/myFriends")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("My groups", "../Home/myGroups")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("Games", "../Home/myGames")
                </div>
                <div class="top-menu-button">
                    @Html.ActionLink("Post", "../Post")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Latest News</h3>
            <div class="frontpage-each-col">
                @foreach (Sozial.Models.NewsModel item in Model.newestNews)
                {
                    <p>
                        @item.userID
                    </p>
                    <div class="media col-md-3">
                        <figure class="pull-left img_resizer">
                            @if (String.IsNullOrEmpty(item.imageUrl))
                            {
                                <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                            }
                            else
                            {
                                <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.newsID)" />
                            }
                        </figure>
                    </div>

                    <p>
                        @item.title
                    </p>
                    <br />
                    <p>
                        @item.text
                    </p>
                    <br />
                    <p>------------</p>
                    <br />
                }
            </div>
        </div>
        <div class="col-md-6">
            <h3>Recent Posts</h3>
            <div class="frontpage-each-col">
                @foreach (Sozial.Models.PostModel item in Model.newestPosts)
                {
                    <p>
                        @item.userID
                    </p>
                    <br />
                    <div class="media col-md-3">
                        <figure class="pull-left img_resizer">
                            @if (String.IsNullOrEmpty(item.imageUrl))
                            {
                                <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                            }
                            else
                            {
                                <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.postID)" />
                            }
                        </figure>
                    </div>

                    <br />
                    <p>
                        @item.text
                    </p>
                    <br />
                    <p>------------</p>
                    <br />
                }
            </div>
        </div>

        <div class="col-md-6">
            <h3>Trending Games</h3>
            <div class="frontpage-each-col">
                <p>
                    Lorem ipsum
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Recruitment Bulletin</h3>
            <div class="frontpage-each-col">
                @foreach (Sozial.Models.GroupModel item in Model.newestGroups)
                {
                    <p>
                        @item.groupName
                    </p>
                    <br />
                    <div class="media col-md-3">
                        <figure class="pull-left img_resizer">
                            @if (String.IsNullOrEmpty(item.groupPicture))
                            {
                                <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                            }
                            else
                            {
                                <a href="../Group/Details/@item.groupID"><img class="media-object img-rounded img-responsive thumbnails" src="@item.groupPicture" alt="@Html.DisplayFor(modelItem => item.groupID)" /></a>
                            }
                        </figure>
                    </div>
                    <br />
                    <p>
                        @item.groupDescription
                    </p>
                    <br />
                    <p>------------</p>
                    <br />
                }
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sozial.is</p>
        </footer>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/playerSumm.js"></script>
<button onclick="experiment()"></button>
<div id="experiment">WHOT</div>