@model IEnumerable<Sozial.Models.ApplicationUser>

@{
    ViewBag.Title = "UserList";
}


<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="title-adjustments">User list</h2>
            <div class="list-group">
                <table class="table">

                    @foreach (var item in Model)
                    {
                        <tr class="active container col-md-12">
                            <td class="media col-md-3">
                                <figure class="pull-left img_resizer">
                                    @if (String.IsNullOrEmpty(item.userProfilePic))
                                    {
                                        <span class="cursor_change" onclick="location.href='@Url.Action("Profile", "Home", new { id = item.UserName })'">
                                            <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="cursor_change" onclick="location.href='@Url.Action("Profile", "Home", new { id = item.UserName })'">
                                            <img class="media-object img-rounded img-responsive thumbnails" src="@item.userProfilePic" alt="@Html.DisplayFor(modelItem => item.UserName)" />
                                        </span>
                                    }
                                </figure>
                            </td>
                            <td class="media col-md-6">
                                <h3>@Html.DisplayFor(modelItem => item.UserName)</h3>
                            </td>

                            <td class="media col-md-3">
                                @Html.ActionLink("Add Friend", "add", new { name = item.UserName })
                            </td>


                            @*  <div class="well">
                                                     @foreach (var usero in item.friends)
                                                     {
                                <!--SETJA KLASA HÉR-->                       <div style="color: red; font-size: 20px;">
                                                             @usero.UserName
                                                         </div>
                                                     }
                                                 </div>*@

                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>