@model IEnumerable<Sozial.Models.ApplicationUser>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.steamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userProfilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userBannerPic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userProfilePic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userBannerPic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Add Friend", "add", new { name = item.UserName })
        </td>
    </tr>
    foreach (var usero in item.friends)
    {
        <td></td> <td style="color: red;">@usero.UserName</td>
    }
}

</table>
