@model Sozial.Models.GameModel

@{
    ViewBag.Title = "Details";

    var image = @Model.imageUrl;

}


<div class="container">
    <div class="well">
        <div class="row">
            <h3>@Html.DisplayFor(model => model.nameOfGame)</h3>
            <h4>Details</h4>
            <hr />
            <div>
                <ul class="thumbails list-unstyled">
                    <li class="col-md-3">
                        <div class="thumbnail">
                            @{
                                if (image != null)
                                {
                                    <img class="img-responsive" src="@Url.Content(Model.imageUrl)" alt="@Html.DisplayFor(model => model.nameOfGame) thumbnail" />
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">See full Image</button>

                                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <img src="@Url.Content(Model.imageUrl)" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p>No Image</p>
                                }
                            }

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="@Url.Content(Model.imageUrl)" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameOfGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameOfGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aboutGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aboutGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gameCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gameCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTopTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTopTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            <!--@Html.DisplayFor(model => model.imageUrl)-->
             @{if (image != null)
 {
                        <img src="@Url.Content(Model.imageUrl)"
                        <img src="@Url.Content(Model.imageUrl)" alt="Image" />
               }
                      else
                      {
                        <p>No Image</p>
                      }
}

</div>

</dd>

</dl>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
