@model Sozial.Models.GameModel

@{
    ViewBag.Title = "Details";

    var image = @Model.imageUrl;

    var dateAndTime = DateTime.Now;
    int year = dateAndTime.Year;
    int month = dateAndTime.Month;
    int day = dateAndTime.Day;

}
<div class="container">
    <div class="well">
        <h2>@Html.DisplayFor(model => model.nameOfGame)</h2>
        <hr />
        <div class="row game-cover">
                <ul class="thumbails list-unstyled">
                    <li class="col-md-5">
                        <!--GAME PICTURE AND POP UP-->
                        <div class="thumbnail well margin-top">
                            @if (!String.IsNullOrEmpty(image))
                            {
                                <a href="" data-toggle="modal" data-target="#myModal">
                                    <img class="img-responsive" src="@Url.Content(Model.imageUrl)" alt="@Html.DisplayFor(model => model.nameOfGame) thumbnail" data-toggle="modal" data-target="#myModal" />
                                </a>
                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="@Url.Content(Model.imageUrl)" class="img-responsive" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog">                                    
                                    <div class="modal-content">                                        
                                        <div class="modal-body">
                                            <img src="@Url.Content(Model.imageUrl)" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="media-object img-responsive" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                        }
                    </div>
                    <!--GAME PICTURE AND POP UP-->
                    <!--OVERALL RATING-->
                </li>
                <li class="col-md-6 pull-right item-details">
                    <div class="stars pull-right">                        
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>                        
                    </div>
                </li>
                <!--OVERALL RATING-->
             </ul>
        </div>        
        <div class="row">
            <ul class="thumbails list-unstyled">
                <!--DETAILS-->
                <li class="col-md-5">
                    <div class="well item-details">
                        <h4>Company</h4>
                        <p>@Html.DisplayFor(model => model.gameCompany)</p>
                        <hr />
                        <h4>Genre</h4>
                        <p>@Html.DisplayFor(model => model.genre)</p>
                        <hr />
                        <h4>About</h4>
                        <p>@Html.DisplayFor(model => model.aboutGame)</p>
                    </div>
                </li>
                <li>
                    <!--DETAILS-->
                    <div class="col-md-7" id="ajaxTest">
                        <!--POST REVIEW-->
                        @Html.Partial("../Review/_reviewGamePartial", new Sozial.Models.ReviewEnvelope() { gameId = Model.gameID, review = new Sozial.Models.ReviewModel() })
                        <!--POST REVIEW-->
                        <!--REVIEWS-->
                        <h4 class="title-adjustments">Review List</h4>
                        <div class="well">
                            <div class="comment-section" id="reviewsUpdate">
                                @foreach (Sozial.Models.ReviewModel review in Model.gameReview)
                                {
                                    <div class="widget-area well">
                                        <div class="container">
                                            <div class="col-sm-2 img_resizer no-margin">
                                                <img class="img-responsive img-rounded" src="http://avatarbox.net/avatars/img7/blue_invader_avatar_picture_70258.jpg" alt="No profile picture" />
                                            </div>
                                            <div class="col-sm-10">
                                                <a href="#" title="Username">@review.userId</a>
                                                <small class="pull-right">@day/@month/@year</small>
                                                <p>
                                                    @review.text
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!--REVIEWS-->
                    </div>
                </li>
            </ul>
        </div>
    </div>   
</div>
  