@model IEnumerable<Sozial.Models.GameModel>

@{
    ViewBag.Title = "All Games";
}

<h2>Games</h2>
<hr/>
<div class="container">
    <div class="row">
        <ul class="thumbnails">
            <p>
                @Html.ActionLink("Add New Game", "Create", null, new { @class = "btn btn-success" })
            </p>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        @if (String.IsNullOrEmpty(item.imageUrl))
                        {
                            <img src="http://placehold.it/320x200" alt="placeholder" class="img-responsive" />
                        }
                        else
                        {
                            <img src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.nameOfGame)" />
                            <!--@Html.DisplayFor(modelItem => item.imageUrl)-->
                        }
                        <div class="caption">
                            <h3>@Html.DisplayFor(modelItem => item.nameOfGame)</h3>
                            <h4>@Html.DisplayFor(modelItem => item.genre)</h4>
                            <p>@Html.DisplayFor(modelItem => item.aboutGame)</p>
                            <p>
                                @Html.DisplayFor(modelItem => item.isTopTen)
                                @Html.DisplayNameFor(model => model.isTopTen)                            
                            </p>
                            <p align="center">
                                @Html.ActionLink("Details", "Details", new { id = item.gameID }, new { @class = "btn btn-default btn-block" })
                                @Html.ActionLink("Edit", "Edit", new { id = item.gameID }, new { @class = "btn btn-default btn-block" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.gameID }, new { @class = "btn btn-danger btn-block" })
                            </p>
                        </div>
                </div>
            </div>
            }
        </ul>
    </div>
</div>
<!--<tr>
    <th>
        @Html.DisplayNameFor(model => model.nameOfGame)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.aboutGame)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.gameCompany)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.isTopTen)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.genre)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.imageUrl)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aboutGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTopTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genre)
        </td>
        <td>
            <img src="@item.imageUrl" />
            @Html.DisplayFor(modelItem => item.imageUrl)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.gameID }) |
            @Html.ActionLink("Details", "Details", new { id = item.gameID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.gameID })
        </td>
    </tr>
}

            </table>-->

<!--
    I'd like to do a steam api call for a json object list containing all the games from them.
-->
