@model IEnumerable<Sozial.Models.GameModel>

@{
    ViewBag.Title = "All Games";
}
<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="title-adjustments">Games</h2>
            <hr />
            <p>
                @Html.ActionLink("Add New Game", "Create", null, new { @class = "btn btn-success" })
            </p>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a class="list-group-item active container">

                        <div class="media col-md-3">
                            <figure class="pull-left img_resizer">
                                @if (String.IsNullOrEmpty(item.imageUrl))
                                {
                                    <span class="cursor_change" onclick="location.href='@Url.Action("Details", "Game", new { id = item.gameID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                    </span>
                                }
                                else
                                {
                                    <span  class="cursor_change" onclick="location.href='@Url.Action("Details", "Game", new { id = item.gameID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="@item.imageUrl" alt="@Html.DisplayFor(modelItem => item.nameOfGame)" />
                                    </span>
                                }
                                <div class="stars">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                </div>
                            </figure>                           
                        </div>
                        <div class="col-md-6">
                            <h3>@Html.DisplayFor(modelItem => item.nameOfGame)</h3>
                            <h4>@Html.DisplayFor(modelItem => item.genre)</h4>
                            <!--CHANGES FROM HERE ON-->
                            <p class="text_limit">
                                @Html.DisplayFor(modelItem => item.aboutGame)
                            </p>
                            <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="...Read more" onclick="location.href='@Url.Action("Details", "Game", new { id = item.gameID })'" /></div>
                        </div>
                        <div class="col-md-3">
                            <span class="btn btn-danger btn-sm pull-right" onclick="location.href='@Url.Action("Delete", "Game", new { id = item.gameID })'"><i class="glyphicon glyphicon-remove"></i> Delete</span>
                            <span class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("Edit", "Game", new { id = item.gameID })'"><i class="glyphicon glyphicon-pencil"></i> Edit</span>
                            <!--CHANGES DONE-->
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


<!--
    I'd like to do a steam api call for a json object list containing all the games from them.
-->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/text_delimitator.js"></script>
<script src="~/Scripts/gameList.js"></script>
<!--<div id="steamList"></div>-->
