@model Sozial.Models.ReviewEnvelope

@using (Html.BeginForm("Create", "Review"))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <ul class=" thumbails list-unstyled">
                <li>
                    <div>
                        <h4 class="title-adjustments">Write a Review</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="widget-area pull-left">
                            <form>
                                <div>
                                    @Html.HiddenFor(model => model.gameId, htmlAttributes: new { @class = "control-label col-xs-2" })
                                    @Html.EditorFor(model => model.review.text, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.review.text, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <input type="submit" value="Post Review" class="btn btn-success pull-right" />
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/toggleComments.js"></script>
<script src="~/Scripts/toggle.js"></script>