@model Sozial.Models.GroupModel

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<div>
    <div class="well">
        @Html.Partial("_PostToGroup", new Sozial.Models.GroupPostViewModel() { groupId = Model.groupID, newPost = new Sozial.Models.PostModel() })
    </div>
    <div class="well">
            @foreach (Sozial.Models.ApplicationUser user in Model.Members)
            {
                <div>
                    <p>
                        @user.UserName
                    </p>
                </div>
                <div class="well">
                    @foreach (Sozial.Models.PostModel post in Model.Posts)
                    {
                        @Html.Partial("../Shared/_postPartial", post)
                    }
                </div>
            }
    </div>
   
</div>


<!--
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.groupID }) |
    @Html.ActionLink("Post", "/CreatePost", new { id = Model.groupID }) |

    @Html.ActionLink("Back to List", "Index")
</p>
    --> 