@model IEnumerable<Sozial.Models.GroupModel>

@{
    ViewBag.Title = "Groups";
}

<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="title-adjustments">Groups</h2>
            <hr />
            <p>
                @Html.ActionLink("Add New Group", "Create", null, new { @class = "btn btn-success" })
            </p>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a class="list-group-item active container">

                        <div class="media col-md-3">
                            <figure class="pull-left img_resizer">
                                @if (String.IsNullOrEmpty(item.groupPicture))
                                {
                                    <span class="cursor_change" onclick="location.href='@Url.Action("Details", "Group", new { id = item.groupID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                    </span>
                                }
                                else
                                {
                                    <span class="cursor_change" onclick="location.href='@Url.Action("Details", "Group", new { id = item.groupID })'">
                                        <img class="media-object img-rounded img-responsive thumbnails" src="@item.groupPicture" alt="@Html.DisplayFor(modelItem => item.groupName)" />
                                    </span>
                                }
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h3>@Html.DisplayFor(modelItem => item.groupName)</h3>
                            <p>@Html.DisplayFor(modelItem => item.createdDate)</p>
                            <p class="text_limit">
                                @Html.DisplayFor(modelItem => item.groupDescription)
                            </p>
                            <div class="title-adjustments"><input id="readMore" type="button" title="Read More" value="...Read more" onclick="location.href='@Url.Action("Details", "Group", new { id = item.groupID })'" /></div>
                        </div>
                        <div class="col-md-3 text-center">
                            @if (Request.IsAuthenticated && User.Identity.Name == "admin") 
                            { 
                            <span class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("../Group/Edit", "Edit", new { id = item.groupID })'"><i class="glyphicon glyphicon-pencil"></i> Edit</span>
                            }
                            <span class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("../Group/joinGroup", "joinGroup", new { id = item.groupID })'"><i class="glyphicon glyphicon-remove"></i> Join</span>
                            <span class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("Details", "Group", new { id = item.groupID })'"><i class="glyphicon glyphicon-info-sign"></i> Details</span>                            
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/text_delimitator.js"></script>
<script src="~/Scripts/gameList.js"></script>