@model IEnumerable<Sozial.Models.GroupModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.likeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupBanner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.likeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupBanner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.groupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.groupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.groupID })
        </td>
    </tr>
}

</table>
