@model Sozial.Models.AccountCustomizeViewModel

@using (Html.BeginForm("Customize", "Account"))
{
    @Html.AntiForgeryToken()

    <form>
        @Html.ValidationSummary(true)
        <div class="well container">
            <div class="row">
                @Html.LabelFor(model => model.ProfilePicture, "New Image: ",new { @class = "control-label col-sm-4 myclass" })
                <div class="col-sm-7 pull-left">
                    @Html.EditorFor(model => model.ProfilePicture, new { @class = "form-group input-sm", placeholder = "Image URL" })
                    @Html.ValidationMessageFor(model => model.ProfilePicture)
                </div>
                @if (Model.steam)
                {
                    <div>
                        <script src="~/Scripts/getProfilePic.js"></script>
                        <a class="badge" onclick="insertProfile()">Use your Steam Profile Picture instead</a>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-3 pull-right">
                        <input type="submit" value="Save" class="btn btn-default pull-left" />
                    </div>
                </div>
            </div>
        </div>
    </form>
}
