@model Sozial.Models.AccountCustomizeViewModel

@using (Html.BeginForm("Customize", "Account"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AccountCustomizeViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePicture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfilePicture)
                @Html.ValidationMessageFor(model => model.ProfilePicture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.profileBanner, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.profileBanner)
                @Html.ValidationMessageFor(model => model.profileBanner)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
